* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.04s linear;
  background-color: #f8f8f8;
}
#navbar {
  height: 80px;
  /* border: 1px solid red; */
  background-color: #df1e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar > h2 {
  color: white;
  background-color: #df1e2e;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  padding-bottom: 70px;
}
#container form {
  padding: 20px;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.col {
  flex: 1 1 250px;
}
.title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.inputBox {
  margin: 15px 0px;
}
.inputBox span {
  margin-bottom: 10px;
  display: block;
}
.inputBox input,
select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}
.flex {
  display: flex;
  gap: 15px;
}
.flex .inputBox {
  margin-top: 0px;
}
img {
  height: 30px;
  margin: 3px;
}
#submit {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #df1e2e;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
  cursor: pointer;
}
#submit:hover {
  color: #df1e2e;
  background-color: white;
  border: 1px solid #df1e2e;
}
