body{
    padding: 0px;
    margin: 0px;
}
#navbar{
    width: 100%;
}
#offer_time{
    background-color: #df1e2e;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
#offer_time>h4{
    margin-top: 20px;
}
#body {
    display: flex;
    width:80%;
    margin:30px 0 30px 10%;
    gap: 20px;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    /* border: 0; */

}
#form input{
    border: 0;
    height: 30px;
    /* border: 0px solid white; */
    border-bottom: 2px solid red;

}
#form input:focus{
    /* border: 10px solid white; */
    /* border:10px dotted purple; */
  /* border-bottom: 2px solid yellow; */
  /* border-color:red; */
  outline: none;

}
#form hr{
    margin: -20px 0 0 0;
}
#submit{
    padding: 10px;
    width: 100px;
    color: white;
    background-color: #df1e2e;
    border-radius: 5px;
    border: 0;
    margin-left: 40%;
}
@media all and (min-width: 100px) and (max-width: 850px){
    #body {
    display: flex;
    flex-direction: column;
    width:80%;
    margin:30px 0 30px 10%;
    gap: 20px;
}
}