footer #main {
  background-color: #446478;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  margin-bottom: -20px;
  position: relative;
}

#flx {
  display: flex;
  width: 90%;
  margin: auto;
}
#flx > div {
  margin: auto;
  border: 0px solid red;
  height: 200px;
  width: 20%;

  margin-top: 30px;
}

#flx > div p {
  line-height: 20px;
}
#dup {
  display: flex;
  text-align: center;
}
#down h4 {
  margin-left: 38px;
  font-size: 14px;
}
#dup h4 {
  margin-bottom: -5px;
}
#footer hr {
  margin-top: 10px;
  background-color: #e8eaea;
  margin-bottom: 10px;
}
#down {
  border: 0px solid red;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

#ddd h4 {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
}
#flx hr {
  margin-top: 10px;
}
#flx #logo {
  margin-right: -30px;
  width: 30px;
  height: auto;
  line-height: -25px;
  border: 0px solid black;
  font-size: 25px;
  margin-top: 70px;
}

#flx > #by_type {
  margin-left: 50px;
}
footer {
  padding-bottom: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .i {
  margin-top: 3px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
#by_profile {
  margin-bottom: 150px;
}
