.ques{
    color:blue;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}
.ans{
    color:rgb(50, 46, 46);
    font-family: sans-serif;
}
h1{
    color:blue;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
#co{
    padding:0px 150px 0px 150px;
    margin:20px 20px
}
#navbar{
    width:100%
}
p{
    line-height: 25px;
}