body{
    padding: 0px;
    margin: 0px;
}
#navbar{
    width: 100%;
}
#body{
    width: 70%;
    margin: 10px 0 30px 15%;
    text-align: justify;
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#body h1{
    text-align: center;
    color: #087ede;
    margin: 20px 0 20px 0;
}
#offer_time{
    background-color: #df1e2e;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
#offer_time>h4{
    margin-top: 20px;
}