#body{
    padding:100px
}
#ques{
    color:#087CDD;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ans{
    color:rgb(88, 86, 86);
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px; 
    line-height: 24px;
}
#li{
    color:rgb(88, 86, 86);
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px; 
    line-height: 24px; 
}
#cont{
    color:#087CDD;
    font-size: 40px;
    text-align: center;
}